<%- include header %>
<form action="/savechange"  method="post">
   <h3> 存储号：<%- storagesequence %> </h3>
   <h3>	文件名：<%- filetitle %> </h3>
   <h3> 文件路径：<%- filepath %> </h3>
   请确认文件信息：<br />
  原存储号：<input type="text" name="storagesequenceold" size="85px" value=<%- storagesequenceold %> /><br />
  原标题：<input type="text" name="filetitleold" size="85px" value=<%- filetitleold %> /><br />
  原本地路径：<input type="text" name="localpathold" size="85px" value=<%- localpathold %> /><br />
  原网络名称：<input type="text" name="webpathold" size="85px" value=<%- webpathold %> /><br />
<br />
<br />
<br />
  存储号：<br />
  <input type="text" name="storagesequence" size="105px" value=<%-storagesequence %> /><br />
文件标题：<br />
  <input type="text" name="filetitle" size="105px" value=<%-filetitle %> /><br />
  文件路径：<br />
  <input type="text" name="filepath" size="105px" value=<%- filepath %> /><br />
  <input type="submit" value="确认上传修改" />
</form>
<%- include footer %>
