<%- include header %>
<% for(var i in data){%>
<li>
<h2>
<tr>
<td>
<%=data[i].filetitle%>
</td>
<% var readurl = "http://localhost:6001/md/" + data[i].storagesequence + ".md" %>
<% var modifyurl = "http://localhost:6001/modifymd/" + data[i].storagesequence + ".md" %>
<td>
<a href=  <%- readurl %>   > 阅读 </a> 
<a href=  <%- modifyurl %>   > 修改 </a>
</td>
</h2>
</li>
<% } %>


<%- include footer %>

